# safe to commit

MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/
SESSION_SECRET=<any long random string>


# EXISTING ACCOUNT(S)
#----------------------------
# username: andrynasief
# password: a26
#----------------------------
# username: user2
# password: userpw2
#----------------------------
